# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# build outputs
.nuxt/
.output/
out/
build
dist
.dist
dist/**
libs
.libs
libs/**

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel

#packages lock
.package-lock.json
package-lock.json

#cookies
*.cookie

# inteliJ idea
.idea
.idea/*

# vscode setting
settings.json
launch.json

#ant design components
apps/**/components.d.ts
